@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* html, body {
    font-family: 'Roboto', sans-serif;
}


body {
    background-color: #5f3e13;
}

header {
    display: block;
    color: #ffffffcc;
    font-size: 3rem;
    text-align: center;
    margin-top: 30px;
    }

.ttt__header {
    margin-top: 100px;
}


.ttt_container {
    background-color: #faa83d;
    display: grid;
    position: relative;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-gap: 10px;
    width: 550px;
    height: 550px;
    margin: auto;
    padding: 10px;
    margin-top: 25px;
}

.ttt_container > div {
  background-color: #ffffffcc;
  border: 1px solid #583b00;
  text-align: center;
  font-size: 30px;
}

.btn__restart {
  background-color: #ffffffcc;
  border: 10px solid #faa83d;
  font-family: 'Roboto', sans-serif;;
  font-weight: 900;
  border-radius: 99px;
  color: #5f3e13;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  position: absolute;
  font-size: 16px;
  margin: 4px 2px;
  bottom: 70px;
  right: 160px;
  cursor: pointer;
}

.btn__restart:hover {
  background-color: #ffffffcc;
  border: 10px solid #faa83d;
  font-family: 'Roboto', sans-serif;;
  font-weight: 900;
  border-radius: 99px;
  color: #0c7f32;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  position: absolute;
  font-size: 16px;
  margin: 4px 2px;
  bottom: 70px;
  right: 160px;
  cursor: pointer;
}